@if (visible$ | async) {
  @switch (field.type) {
    @case ("text") {
      <app-input-field [field]="field" [form]="form"> </app-input-field>
    }
    @case ("email") {
      <app-input-field [field]="field" [form]="form"> </app-input-field>
    }
    @case ("select") {
      <app-select-field [field]="field" [form]="form"> </app-select-field>
    }
    @case ("select-search") {
      <app-select-search-field
        [field]="field"
        [form]="form"
      ></app-select-search-field>
    }
    @case ("checkbox") {
      <app-checkbox-field [field]="field" [form]="form"></app-checkbox-field>
    }
    @case ("array") {
      <app-array-field
        [field]="field"
        [form]="form"
        (add)="addArray.emit()"
        (remove)="removeArray.emit($event)"
      >
      </app-array-field>
    }
    @case ("group") {
      <app-group-field [field]="field" [form]="form"></app-group-field>
    }
  }
}
