.form-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 24px;
}

/* default mobile */
// .form-grid > div {
//   grid-column: span 12;
// }

// .col-6 {
//   grid-column: span 6;
// }

// .col-4 {
//   grid-column: span 4;
// }

/* tablet */
// @media (min-width: 768px) {
//   .col-md-6 {
//     grid-column: span 6;
//   }

//   .col-md-4 {
//     grid-column: span 4;
//   }
// }

/* desktop */
@media (min-width: 1024px) {
  .col-lg-12 {
    grid-column: span 12;
  }

  .col-lg-6 {
    grid-column: span 6;
  }

  .col-lg-4 {
    grid-column: span 4;
  }
}