@switch (field.type) {
  @case ("text") {
    <app-input-field [field]="field" [form]="form"> </app-input-field>
  }
  @case ("email") {
    <app-input-field [field]="field" [form]="form"> </app-input-field>
  }
  @case ("select") {
    <app-select-field [field]="field" [form]="form"> </app-select-field>
  }
  @case ("array") {
    <app-array-field
      [field]="field"
      [form]="form"
      (add)="addArray.emit()"
      (remove)="removeArray.emit($event)"
    >
    </app-array-field>
  }
}
